.body{
    background: #F7F4ED;
}
.btn_login_regist{
    font-size: 16px;
    border-radius: 15px;
    border-width: 1px;
    border-color: #bdbdbd;
    background-color: #fcfcfc;
    width: 100px;
    height: 30px;
    margin-top: 10px;
    margin-left: 50px; 
}
button:hover{
    border-color: #b1b1b1;
    background-color: #000000;
    color: white;
  }
#form_login{
    
    flex-flow: column wrap;
    justify-content: center;
    width: 200px; 
    display: flex;
    margin: 10px;
    padding: 20px;
    border-color: rgb(163, 163, 163);
    border-width: 1px;
    border-style: solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    
}
#form_login:hover{
    box-shadow: 0px 0px 5px #ffffff;
  }
#container_for_login_form{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
h1{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.Input{
    margin-top: 5px;
}
.login_pass{
    margin-top: 5px;
}
#form_login> a{
 color: white;
}
#form_login> a:hover{
    color: rgb(155, 155, 155);
}
.App-header>a{
    color: white;   
}
#eye{
    position: absolute;
    margin-left: 175px;
    margin-bottom: 45px;
    color: #000000;
}
#eye2{
    position: absolute;
    margin-left: 175px;
    margin-top: 40px;
    color: #000000;
}
#eye3{
    position: absolute;
    margin-left: 175px;
    margin-top: 152px;
    color: #000000;
}