.body{
    background: #F7F4ED;
}
.btn_login_regist{
    font-size: 16px;
    border-radius: 15px;
    border-width: 1px;
    border-color: #c5c211;
    background-color: #c5c211;
    width: 100px;
    height: 30px;
    margin-top: 10px;
    margin-left: 50px; 
}
button:hover{
    border-color: #9f68cc;
    background-color: #9f68cc;
    color: white;
  }
#form_login{
    
    flex-flow: column wrap;
    justify-content: center;
    width: 200px; 
    display: flex;
    margin: 10px;
    padding: 20px;
    border-color: rgb(163, 163, 163);
    border-width: 1px;
    border-style: solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
#form_login:hover{
    box-shadow: 0px 0px 5px #757575;
  }
#container_for_login_form{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
h1{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.Input{
    margin-top: 5px;
}
.login_pass{
    margin-top: 5px;
}