@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
  background-color: #f0e7ff;
  background-image: url("https://web-design-kursak.s3.eu-west-2.amazonaws.com/axiom-pattern.png");
}
.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}